.grid-item {
    background-color: rgba(25, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    /* text-align: center; */
  }
  #container {

   display: flex;

  }

  #container div{
    background-color: rgb(1, 195, 204);
    align-items: center;
    margin: 22px;
    width: 100%;

  }
